<section class="LoginWrapper">
  <div class="LoginWrapper-loginCard">
    <h1 class="LoginWrapper-title">Iniciar Session</h1>
    <form
      class="LoginWrapper-loginForm"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <div class="LoginWrapper-inputWrapper">
        <label for="username" class="LoginWrapper-inputLabel">Usuario</label>
        <input
          pInputText
          id="username"
          class="LoginWrapper-inputForm"
          formControlName="username"
        />
      </div>
      <div class="LoginWrapper-inputWrapper">
        <label for="password" class="LoginWrapper-inputLabel">Password</label>
        <input
          type="password"
          pInputText
          id="password"
          class="LoginWrapper-inputForm"
          formControlName="password"
        />
      </div>
      <p-button
        label="Ingresar"
        type="submit"
        class="LoginWrapper-buttonSubmit"
        [rounded]="true"
        [disabled]="loginForm.invalid"
      />
    </form>
  </div>
</section>
