/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";
/* 1. Box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margins and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* 3. Set base body styling */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Antialiasing for better text rendering */
  font-family: sans-serif; /* Define a default font family */
}

/* 4. Remove default list styles */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* 5. Anchor tags without default underline and color */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* 6. Image and media reset */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Form elements reset */
input,
button,
textarea,
select {
  font: inherit; /* Ensure form elements use the same font as the body */
}

/* 8. Disable animations for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 9. Prevent text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
